@using Bonsai.Areas.Front.ViewModels.Calendar
@addTagHelper *, Bonsai
@model CalendarDayVM

<div class="calendar-events-header">
    <h2>@Model.Date.ReadableDate</h2>
</div>
<div class="calendar-events-content">

    <div class="card">
        @if(Model.Events.Any())
        {
            <div class="list-group list-group-flush">
                @foreach(var evt in Model.Events)
                {
                    var url = evt.RelatedPage.Key != null
                        ? Url.Action("Description", "Page", new { key = evt.RelatedPage.Key })
                        : null;

                    var hasNested = evt.OtherPages?.Count > 0;

                    <a href="@url" class="calendar-events-item list-group-item @(url != null ? "selectable" : "") @(hasNested ? "has-nested" : "")">
                        <div class="media">
                            <div class="calendar-events-item-icon mr-3">
                                <page-image image="@evt.RelatedPage.MainPhotoPath" />
                            </div>
                            <div class="media-body">
                                <h6 class="m-0">@evt.RelatedPage.Title</h6>
                                <p class="calendar-events-item-name">@evt.Title</p>
                            </div>
                        </div>
                    </a>

                    if (evt.OtherPages != null)
                    {
                        foreach (var p in evt.OtherPages)
                        {
                            <a href="@Url.Action("Description", "Page", new { key = p.Key })" class="calendar-events-item nested list-group-item selectable">
                                <div class="media">
                                    <div class="calendar-events-item-icon mr-3">
                                        <page-image image="@p.MainPhotoPath" />
                                    </div>
                                    <div class="media-body">
                                        <h6>@p.Title</h6>
                                    </div>
                                </div>
                            </a>
                        }
                    }
                }
            </div>
        }
        else
        {
            <p>В этот день ничего не произошло.</p>
        }
    </div>

</div>