@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Bonsai.Areas.Admin.ViewModels.Media
@using Bonsai.Data.Models
@using Impworks.Utils.Format
@model Bonsai.Areas.Admin.ViewModels.Media.MediaEditorVM
@{
    ViewBag.Title = "Редактор медиа";
    Layout = "~/Areas/Admin/Views/Layout.cshtml";

    var data = (MediaEditorDataVM)ViewBag.Data;
}

<h1>Редактор медиа</h1>

<form action="@Url.Action("Update", "Media", new {area = "Admin"})" method="POST" class="media-editor-form">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="DepictedEntities" />
    <input type="hidden" asp-for="FilePath" />
    <input type="hidden" asp-for="Type" />

    <div class="form-row">
        @if(Model.Type == MediaType.Video)
        {
            <div class="form-group col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <div class="media-editor-tags-wrapper">
                            <img src="@Url.Content(data.ThumbnailUrl)" draggable="false"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label>Отметки</label>
                <select id="media-editor-tags-list" asp-items="data.DepictedEntityItems" multiple="multiple"></select>
            </div>
        }
        else if(Model.Type == MediaType.Photo)
        {
            <div class="form-group col-sm-10">
                <div class="card">
                    <div class="card-body">
                        <div class="media-editor-tags-wrapper">
                            <img src="@Url.Content(data.ThumbnailUrl)" draggable="false"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-2">
                <button type="button" class="btn btn-outline-secondary cmd-add-tag">
                    <i class="fa fa-plus-circle"></i> Отметить
                </button>
            </div>
        }
    </div>
    
    <div class="form-row">
        <div class="form-group col-sm-5">
            <label asp-for="Title">Заголовок</label>
            <input type="text" asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-3">
            <label asp-for="Date">Дата</label>
            <input type="text" asp-for="Date" class="form-control datepicker" placeholder="ГГГГ.ММ.ДД" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-4">
            <label asp-for="Location">Место</label>
            <select asp-for="Location" asp-items="data.LocationItem"></select>
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-4">
            <label asp-for="Event">Событие</label>
            <select asp-for="Event" asp-items="data.EventItem"></select>
            <span asp-validation-for="Event" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-8">
            <label asp-for="Description">Описание</label>
            <textarea asp-for="Description" class="form-control md-editor"></textarea>
        </div>
    </div>

    <div class="form-group">
        <input type="hidden" asp-for="SaveAction" />
        <div class="btn-group">
            <button type="submit" class="btn btn-primary" title="Ctrl + Enter">@Model.SaveAction.GetEnumDescription()</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
            <div class="dropdown-menu">
                @foreach (var act in data.SaveActions)
                {
                    <a class="dropdown-item cmd-set-save-mode @(act.Selected ? "active" : "")" href="#" data-value="@act.Value">@act.Text</a>
                }
            </div>
        </div>
        <a href="@Url.Action("Index", "Media", new {area = "Admin"})" class="btn btn-secondary">Отмена</a>
    </div>
</form>

<script type="text/template" id="media-tag-template">
    <div class="photo-tag-editor">
        <div class="ui-draggable-handle"></div>
    </div>
</script>

<script type="text/template" id="media-tag-popup-template">
    <form class="media-tag-popup-form form-inline">
        <select class="form-control"></select>
        <button type="button" class="btn btn-danger cmd-remove-tag" title="Удалить отметку">
            <i class="fa fa-trash"></i>
        </button>
    </form> 
</script>