@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Bonsai.Areas.Admin.ViewModels.Common
@using Bonsai.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Bonsai.Areas.Admin.ViewModels.Common.RemoveEntryRequestVM
@{
    ViewBag.Title = Texts.Admin_Media_Remove_Title;
    Layout = "~/Areas/Admin/Views/Layout.cshtml";
    var info = (RemoveEntryInfoVM<string>) ViewBag.Info;
}

<h1>@Texts.Admin_Media_Remove_Title</h1>

<div class="card d-inline-block">
    <div class="card-body">
        <img src="@Url.Content(info.Entry)" style="max-width: 200px" />
    </div>
</div>

<p>@Texts.Admin_Media_Remove_Confirmation</p>

<form action="@Url.Action("Remove", "Media", new {area = "Admin"})" method="POST">
    <input type="hidden" asp-for="Id" />
    
    @if (info.CanRemoveCompletely)
    {
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" asp-for="RemoveCompletely" id="RemoveCompletely" />
                <label class="custom-control-label" for="RemoveCompletely">@Texts.Admin_Media_Remove_CompletelyDescription</label>
            </div>
        </div>
    }
    <div class="form-group">
        <button class="btn btn-danger" type="submit">@Texts.Admin_Global_Remove</button>
        <a href="@Url.Action("Index", "Media", new {area = "Admin"})" class="btn btn-secondary">@Texts.Admin_Global_Cancel</a>
    </div>
</form>