@using Bonsai.Areas.Admin.ViewModels.Changesets
@using Humanizer
@using Impworks.Utils.Format
@model Bonsai.Areas.Admin.ViewModels.Changesets.ChangesetDetailsVM
@{
    ViewBag.Title = "Просмотр правки";
    Layout = "~/Areas/Admin/Views/Layout.cshtml";
}

<div class="row">
    <div class="col-sm-9">
        <h1>Основные данные</h1>
        
        @if(!string.IsNullOrEmpty(Model.ThumbnailUrl))
        {
            <div class="card d-inline-block mb-4">
                <div class="card-body">
                    <img src="@Url.Content(Model.ThumbnailUrl)" style="max-width: 200px" />
                </div>
            </div>
        }

        <dl class="row">
            <dt class="col-sm-2">Действие</dt>
            <dd class="col-sm-10">@Model.ChangeType.GetEnumDescription()</dd>

            <dt class="col-sm-2">Автор</dt>
            <dd class="col-sm-10">@Model.Author</dd>

            <dt class="col-sm-2">Дата</dt>
            <dd class="col-sm-10">@Model.Date.ToLocalTime().ToString("f") (@Model.Date.ToLocalTime().Humanize())</dd>
        </dl>

        @if(Model.Changes.Any())
        {
            <h1>Содержание</h1>

            <dl class="row changeset">
                @foreach(var change in Model.Changes)
                {
                    <dt class="col-sm-3">@change.Title</dt>
                    <dd class="col-sm-9">@Html.Raw(change.Diff)</dd>
                }
            </dl>
        }
    </div>
</div>

@if (Model.CanRevert)
{
    <a class="btn btn-danger" href="@Url.Action("Revert", "Changesets", new {area = "Admin", id = Model.Id})">Восстановить</a>
}