@using Bonsai.Code.Services
@using Bonsai.Data.Models
@using Bonsai.Localization
@using Humanizer

@model Bonsai.Areas.Admin.ViewModels.Changesets.ChangesetDetailsVM
@{
    ViewBag.Title = Texts.Admin_Changesets_Details_Title;
    Layout = "~/Areas/Admin/Views/Layout.cshtml";
}

<div class="row">
    <div class="col-sm-9">
        <h1>@Texts.Admin_Changesets_Details_Main</h1>
        
        @if(!string.IsNullOrEmpty(Model.ThumbnailUrl))
        {
            <div class="card d-inline-block mb-4">
                <div class="card-body">
                    <img src="@Url.Content(Model.ThumbnailUrl)" style="max-width: 200px" />
                </div>
            </div>
        }

        <dl class="row">
            <dt class="col-sm-2">@Texts.Admin_Changesets_Details_Action</dt>
            <dd class="col-sm-10">@Model.ChangeType.GetLocaleEnumDescription()</dd>

            <dt class="col-sm-2">@Texts.Admin_Changesets_Details_Author</dt>
            <dd class="col-sm-10">@Model.Author</dd>

            <dt class="col-sm-2">@Texts.Admin_Changesets_Details_Date</dt>
            <dd class="col-sm-10">@Model.Date.ToLocalTime().ToString(Texts.DateFormat_Changeset) (@Model.Date.ToLocalTime().Humanize())</dd>
        </dl>

        @if(Model.Changes.Any())
        {
            <h1>@Texts.Admin_Changesets_Details_Contents</h1>

            <dl class="row changeset">
                @foreach(var change in Model.Changes)
                {
                    <dt class="col-sm-3">@change.Title</dt>
                    <dd class="col-sm-9">@Html.Raw(change.Diff)</dd>
                }
            </dl>
        }
    </div>
</div>

@if (Model.CanRevert)
{
    <a class="btn btn-danger" href="@Url.Action("Revert", "Changesets", new {area = "Admin", id = Model.Id})">@Texts.Admin_Changesets_Details_Revert</a>
}

@if (Model.EntityExists)
{
    var editUrl = Model.EntityType switch
    {
        ChangesetEntityType.Page => Url.Action("Update", "Pages", new { area = "Admin", id = Model.EntityId }),
        ChangesetEntityType.Media => Url.Action("Update", "Media", new { area = "Admin", id = Model.EntityId }),
        ChangesetEntityType.Relation => Url.Action("Update", "Relations", new { area = "Admin", id = Model.EntityId }),
    };
    var outUrl = Model.EntityType switch
    {
        ChangesetEntityType.Page => Url.Action("Description", "Page", new { area = "Front", key = Model.EntityKey }),
        ChangesetEntityType.Media => Url.Action("Index", "Home", new { area = "Front" }) + "#media-" + Model.EntityKey,
        _ => null
    };

    <a class="btn btn-warning" href="@editUrl">@Texts.Admin_Changesets_Details_Edit</a>

    if (outUrl != null)
    {
        <a class="ml-4" href="@outUrl" target="_blank">
            <span class="fa fa-external-link-square"></span> @Texts.Admin_Changesets_Details_ViewCurrent
        </a>
    }
}