@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Bonsai.Areas.Admin.ViewModels.Changesets
@using Bonsai.Data.Models
@using Humanizer
@model Bonsai.Areas.Admin.ViewModels.Changesets.ChangesetDetailsVM
@{
    string GetEntityType(bool dative = false)
    {
        switch (Model.EntityType)
        {
            case ChangesetEntityType.Media:
                return dative ? "медиа-файл" : "медиа-файла";

            case ChangesetEntityType.Page:
                return dative ? "страницу" : "страницы";

            case ChangesetEntityType.Relation:
                return dative ? "отношение" : "отношения";
        }

        return null;
    }

    var isRemoving = Model.ChangeType == ChangesetType.Created;

    ViewBag.Title = (isRemoving ? "Удаление " : "Восстановление ") + GetEntityType();
    Layout = "~/Areas/Admin/Views/Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@if (!string.IsNullOrEmpty(Model.ThumbnailUrl))
{
    <div class="card d-inline-block">
        <div class="card-body">
            <img src="@Url.Content(Model.ThumbnailUrl)" style="max-width: 200px" />
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-9">
        <h3>Изменение</h3>

        <dl class="row">
            <dt class="col-sm-2">Автор</dt>
            <dd class="col-sm-10">@Model.Author</dd>

            <dt class="col-sm-2">Дата</dt>
            <dd class="col-sm-10">@Model.Date.ToLocalTime().ToString("f") (@Model.Date.ToLocalTime().Humanize())</dd>
        </dl>
    </div>
</div>

@if (isRemoving)
{
    <p>
        Вы уверены, что хотите удалить @GetEntityType(dative: true)?<br />
    </p>
}
else
{
    <p>
        Вы уверены, что хотите восстановить предыдущее состояние @GetEntityType()?<br />
        При этом будет сброшена текущая правка и все последующие, если они существуют.
    </p>
}

<form action="@Url.Action("Revert", "Changesets", new {area = "Admin"})" method="POST">
    <input type="hidden" name="confirm" value="true" />
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger" type="submit">@(isRemoving ? "Удалить" : "Восстановить")</button>
    <a href="@Url.Action("Index", "Changesets", new {area = "Admin"})" class="btn btn-secondary">Отмена</a>
</form>