@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Bonsai.Areas.Admin.ViewModels.Changesets.ChangesetDetailsVM

@using Bonsai.Data.Models
@using Bonsai.Localization
@using Humanizer

@{
    var isRemoving = Model.ChangeType == ChangesetType.Created;
    ViewBag.Title = Model.EntityType switch
    {
        ChangesetEntityType.Page => isRemoving ? Texts.Admin_Changesets_Revert_RemovePageTitle : Texts.Admin_Changesets_Revert_RestorePageTitle,
        ChangesetEntityType.Media => isRemoving ? Texts.Admin_Changesets_Revert_RemoveMediaTitle : Texts.Admin_Changesets_Revert_RestoreMediaTitle,
        ChangesetEntityType.Relation => isRemoving ? Texts.Admin_Changesets_Revert_RemoveRelationTitle : Texts.Admin_Changesets_Revert_RestoreRelationTitle,
    };
    Layout = "~/Areas/Admin/Views/Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@if (!string.IsNullOrEmpty(Model.ThumbnailUrl))
{
    <div class="card d-inline-block">
        <div class="card-body">
            <img src="@Url.Content(Model.ThumbnailUrl)" style="max-width: 200px" />
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-9">
        <h3>@Texts.Admin_Changesets_Revert_Change</h3>

        <dl class="row">
            <dt class="col-sm-2">@Texts.Admin_Changesets_Details_Author</dt>
            <dd class="col-sm-10">@Model.Author</dd>

            <dt class="col-sm-2">@Texts.Admin_Changesets_Details_Date</dt>
            <dd class="col-sm-10">@Model.Date.ToLocalTime().ToString(Bonsai.Localization.Texts.DateFormat_Changeset) (@Model.Date.ToLocalTime().Humanize())</dd>
        </dl>
    </div>
</div>

@if (isRemoving)
{
    <p>
        @(Model.EntityType switch
        {
            ChangesetEntityType.Page => Texts.Admin_Changesets_Revert_RemovePageConfirmation,
            ChangesetEntityType.Media => Texts.Admin_Changesets_Revert_RemoveMediaConfirmation,
            ChangesetEntityType.Relation => Texts.Admin_Changesets_Revert_RemoveRelationConfirmation
        })
        <br />
    </p>
}
else
{
    <p>
        @(Model.EntityType switch
        {
            ChangesetEntityType.Page => Texts.Admin_Changesets_Revert_RestorePageConfirmation,
            ChangesetEntityType.Media => Texts.Admin_Changesets_Revert_RestoreMediaConfirmation,
            ChangesetEntityType.Relation => Texts.Admin_Changesets_Revert_RestoreRelationConfirmation
        })
        <br />
        @Texts.Admin_Changesets_Revert_RestoreOverview
    </p>
}

<form action="@Url.Action("Revert", "Changesets", new {area = "Admin"})" method="POST">
    <input type="hidden" name="confirm" value="true" />
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger" type="submit">@(isRemoving ? Texts.Admin_Global_Remove : Texts.Admin_Changesets_Revert)</button>
    <a href="@Url.Action("Index", "Changesets", new {area = "Admin"})" class="btn btn-secondary">@Texts.Admin_Global_Cancel</a>
</form>