@using Bonsai.Code.DomainModel.Facts.Models
@model HumanNameFactModel

@{
    var isSingle = Model.Values.Length == 1;
}

<tr class="fact">
    <th class="fact-title">@Model.ShortTitle</th>
    <td>
        @foreach (var item in Model.Values)
        {
            <span class="fact-item-main">@item.LastName @item.FirstName @item.MiddleName</span>
            if (item.Duration != null && !isSingle)
            {
                <span class="fact-item-extra" title="@item.Duration.Value.ReadableRange">@item.Duration.Value.ShortReadableRange</span>
            }
        }
    </td>
</tr>