@model Bonsai.Code.DomainModel.Facts.Templates.NameFactTemplate
    
<div>
    @foreach (var item in Model.Values)
    {
        <div class="fact-item">
            <span class="fact-main">@item.LastName @item.FirstName @item.MiddleName</span>
            @if (!item.Range.IsEmpty)
            {
                <span class="fact-range" title="@item.Range.ReadableRange">@item.Range.ShortReadableRange</span>
            }
        </div>    
    }
</div>