@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Bonsai.Code.Services.Config
@using Bonsai.Data.Models
@using Bonsai.Localization
@using Impworks.Utils.Strings
@inject BonsaiConfigService ConfigService
@model Bonsai.Areas.Admin.ViewModels.DynamicConfig.UpdateDynamicConfigVM
@{
    ViewBag.Title = Texts.Admin_Config_Title;
    Layout = "~/Areas/Admin/Views/Layout.cshtml";

    var config = ConfigService.GetStaticConfig();
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-9 col-sm-12">
        <form action="@Url.Action("Update")" method="post">

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">@Texts.Admin_Config_Caption</label>
                <div class="col-sm-9">
                    <input asp-for="Title" class="form-control" />
                    <span class="small text-muted">@Texts.Admin_Config_CaptionDescription</span>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3">@Texts.Admin_Config_Access</label>
                <div class="col-sm-9">
                    <div class="custom-control custom-radio">
                        <input type="radio" asp-for="AllowGuests" value="True" class="custom-control-input" id="AllowGuestsTrue" />
                        <label class="custom-control-label" for="AllowGuestsTrue">
                            @Texts.Admin_Config_Access_AnyCanRead
                        </label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" asp-for="AllowGuests" value="False" class="custom-control-input" id="AllowGuestsFalse" />
                        <label class="custom-control-label" for="AllowGuestsFalse">
                            @Texts.Admin_Config_Access_RegisteredCanRead
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3">@Texts.Admin_Config_Registration</label>
                <div class="col-sm-9">
                    <div class="custom-control custom-radio">
                        <input type="radio" asp-for="AllowRegistration" value="True" class="custom-control-input" id="AllowRegistrationTrue" />
                        <label class="custom-control-label" for="AllowRegistrationTrue">
                            @Texts.Admin_Config_Registration_Enabled
                        </label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" asp-for="AllowRegistration" value="False" class="custom-control-input" id="AllowRegistrationFalse" />
                        <label class="custom-control-label" for="AllowRegistrationFalse">
                            @Texts.Admin_Config_Registration_Disabled
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3">@Texts.Admin_Config_TreeKinds</label>
                <div class="col-sm-9">
                    @{ TreeKindOption(TreeKind.FullTree, Texts.Admin_Config_TreeKinds_FullTree, Texts.Admin_Config_TreeKinds_FullTreeDescription); }
                    @{ TreeKindOption(TreeKind.CloseFamily, Texts.Admin_Config_TreeKinds_CloseFamily, Texts.Admin_Config_TreeKinds_CloseFamilyDescription); }
                    @{ TreeKindOption(TreeKind.Ancestors, Texts.Admin_Config_TreeKinds_Ancestors, Texts.Admin_Config_TreeKinds_AncestorsDescription); }
                    @{ TreeKindOption(TreeKind.Descendants, Texts.Admin_Config_TreeKinds_Descendants, Texts.Admin_Config_TreeKinds_DescendantsDescription); }
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3">@Texts.Admin_Config_TreeDisplay</label>
                <div class="col-sm-9">
                    <div class="mb-2">
                        <input asp-for="TreeRenderThoroughness" type="range" min="1" max="100" class="form-control"/>
                        <div class="small text-muted">
                            <div class="pull-left">@Texts.Admin_Config_TreeDisplay_FastAndRough</div>
                            <div class="pull-right">@Texts.Admin_Config_TreeDisplay_SlowAndThorough</div>
                            <div class="clearfix"></div>
                        </div>
                        <span asp-validation-for="TreeRenderThoroughness" class="text-danger"></span>
                    </div>
                    <div class="ml-4">
                        <input type="checkbox" asp-for="HideBlackRibbon" class="custom-control-input" id="HideBlackRibbon" />
                        <label class="custom-control-label" for="HideBlackRibbon">
                            @Texts.Admin_Config_TreeDisplay_HideBlackRibbon
                        </label>
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-3">@Texts.Admin_Config_Version</div>
                <div class="col-sm-9 text-muted">
                    <small>
                        @Texts.Admin_Config_Version_Build: @(StringHelper.Coalesce(config.BuildCommit, @Texts.Admin_Config_Version_BuildUnknown))<br />
                        @Texts.Admin_Config_Version_Database: @(config.ConnectionStrings.UseEmbeddedDatabase ? "SQLite" : "PostgreSQL")
                    </small>
                </div>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" role="alert">@Html.Raw(Texts.Admin_Global_ValidationError)</div>
            }

            <div class="form-group row">
                <div class="offset-sm-3 col-sm-6">
                    <button type="submit" class="btn btn-primary">@Texts.Admin_Global_Save</button>
                    <a href="@Url.Action("Index")"></a>
                </div>
            </div>
        </form>
    </div>
</div>

@{
    void TreeKindOption(TreeKind kind, string caption, string description)
    {
        <div class="ml-4">
            <input type="checkbox" name="TreeKinds[]" value="@kind" checked="@(Model.TreeKinds.Contains(kind))" class="custom-control-input" id="TreeKinds.@kind"/>
            <label class="custom-control-label" for="TreeKinds.@kind">
                @caption <br/>
                <small class="text-muted">@description</small>
            </label>
        </div>
    }
}