@using Bonsai.Areas.Admin.ViewModels.Common
@model Bonsai.Areas.Admin.ViewModels.Components.ListSearchFieldVM

<form class="form-inline" action="@Url.Action("Index", "Pages", new {area = "Admin"})" method="GET">
    @foreach(var field in Model.OtherValues)
    {
        <input type="hidden" name="@field.Key" value="@field.Value" />
    }

    <div class="input-group">
        <input type="text" class="form-control" name="@nameof(ListRequestVM.SearchQuery)" value="@Model.SearchQuery" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" title="Поиск">
                <span class="fa fa-search"></span>
            </button>
        </div>
    </div>
</form>