@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Bonsai.Areas.Admin.ViewModels.Pages.PageEditorVM
@{
    var isNew = (bool)ViewBag.IsNew;
    ViewBag.Title = isNew ? "Новая страница" : "Редактирование страницы";
    Layout = "~/Areas/Admin/Views/Layout.cshtml";

    var formAction = Url.Action(isNew ? "Create" : "Update", "Pages", new { area = "Admin" });
}

<h1>@ViewBag.Title</h1>

<form action="@formAction" method="post">
    <input type="hidden" asp-for="Id" />
    
    <nav>
        <div class="nav nav-tabs" role="tablist">
            <a class="nav-item nav-link active" href="#tab-main" data-toggle="tab" role="tab">Главное</a>
            <a class="nav-item nav-link" href="#tab-facts" data-toggle="tab" role="tab">Факты</a>
            <a class="nav-item nav-link" href="#tab-aliases" data-toggle="tab" role="tab">Ссылки</a>
        </div>
    </nav>
    <div class="tab-content">
        <div class="tab-pane show active" id="tab-main" role="tabpanel">
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label asp-for="Title">Заголовок</label>
                    <input type="text" class="form-control" asp-for="Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="Type">Тип</label>
                    <select asp-for="Type" class="form-control" asp-items="@ViewBag.PageTypes"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="Description">Текст</label>
                    <textarea asp-for="Description" class="form-control" rows="20"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="tab-pane show" id="tab-facts" role="tabpanel">
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label asp-for="Facts">Факты</label>
                    <textarea asp-for="Facts" class="form-control" rows="20"></textarea>
                    <span asp-validation-for="Facts" class="text-danger"></span>
                </div>
                
                <div class="form-group col-md-2">
                    <label asp-for="MainPhotoKey">Фото</label>
                    <input type="text" asp-for="MainPhotoKey" class="form-control" />
                    <span asp-validation-for="MainPhotoKey" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="tab-pane show" id="tab-aliases" role="tabpanel">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Aliases">Ссылки</label>
                    @foreach (var alias in Model.Aliases)
                    {
                        <input type="text" class="form-control" name="@(nameof(Model.Aliases))" value="@alias" />
                    }
                    <span asp-validation-for="Aliases" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <button class="btn btn-primary" type="submit">Сохранить</button>
            <a class="btn btn-secondary" href="@Url.Action("Index", "Pages", new { area = "Admin" })">Назад</a>
        </div>
    </div>
</form>