@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Bonsai.Areas.Admin.ViewModels.Pages
@using Impworks.Utils.Format
@model Bonsai.Areas.Admin.ViewModels.Pages.PageEditorVM
@{
    var data = (PageEditorDataVM) ViewBag.Data;
    ViewBag.Title = data.IsNew ? "Новая страница" : "Редактирование страницы";
    Layout = "~/Areas/Admin/Views/Layout.cshtml";

    var formAction = Url.Action(data.IsNew ? "Create" : "Update", "Pages", new { area = "Admin" });
}

<h1>@ViewBag.Title</h1>

<form action="@formAction" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Type"/>

    <nav>
        <div class="nav nav-tabs" role="tablist">
            <a class="nav-item nav-link active" href="#tab-main" data-toggle="tab" role="tab">Главное</a>
            <a class="nav-item nav-link" href="#tab-facts" data-toggle="tab" role="tab">Факты</a>
            <a class="nav-item nav-link" href="#tab-aliases" data-toggle="tab" role="tab">Ссылки</a>
        </div>
    </nav>
    <div class="tab-content">
        <div class="tab-pane show active" id="tab-main" role="tabpanel">
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label asp-for="Title">Заголовок</label>
                    <input type="text" class="form-control" asp-for="Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="Type">Тип</label>
                    <input type="text" readonly="readonly" class="form-control-plaintext" value="@Model.Type.GetEnumDescription()" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="Description">Текст</label>
                    <textarea asp-for="Description" class="form-control" rows="20"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="tab-pane show" id="tab-facts" role="tabpanel">
            <div class="form-row">
                <div class="form-group col-md-10">
                    <input type="hidden" asp-for="Facts" />
                    <div id="editor-facts">
                        @foreach (var group in data.FactGroups)
                        {
                            <div class="editor-facts-group">
                                <h4>@group.Title</h4>
                                @foreach (var fact in group.Facts)
                                {
                                    <component is="@fact.Kind.Name" v-bind:data="data" v-bind:def="{title: '@fact.Title', key: '@fact.Id'}"></component>
                                }
                            </div>
                        }
                    </div>
                    <span asp-validation-for="Facts" class="text-danger"></span>
                </div>

                <div class="form-group col-md-2">
                    <label asp-for="MainPhotoKey">Фото</label>
                    <input type="text" asp-for="MainPhotoKey" class="form-control" />
                    <span asp-validation-for="MainPhotoKey" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="tab-pane show" id="tab-aliases" role="tabpanel">
            <div class="form-group">
                <label asp-for="Aliases">Ссылки</label>
                <input type="hidden" asp-for="Aliases" />
            </div>
            <div id="editor-aliases">
                <div class="form-row" v-for="(alias, idx) in aliases">
                    <div class="form-group col-md-8">
                        <div class="input-group">
                            <input v-model="alias.value" class="form-control" :ref="'value'" v-on:change="refresh" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-danger" title="Удалить" v-on:click="removeAlias(idx)" :disabled="!canRemove">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-outline-secondary" title="Добавить новую ссылку" v-on:click="addAlias">
                        <i class="fa fa-plus-circle"></i> Добавить
                    </button>
                </div>
            </div>

            <span asp-validation-for="Aliases" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <button class="btn btn-primary" type="submit">Сохранить</button>
            <a class="btn btn-secondary" href="@Url.Action("Index", "Pages", new { area = "Admin" })">Назад</a>
        </div>
    </div>
</form>

<script type="text/x-template" id="DatePickerTemplate">
    <input type="text" class="form-control" placeholder="ГГГГ.ММ.ДД" />
</script>
<script type="text/x-template" id="DurationPickerTemplate">
    <div>
        <datepicker v-model="start" :size="size" title="Начало"></datepicker>
        &mdash;
        <datepicker v-model="end" :size="size" :margin="margin" title="Конец"></datepicker>
    </div>
</script>
@foreach (var tpl in data.EditorTemplates)
{
    Html.RenderPartial(tpl);
}