@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Bonsai.Data.Models
@using Humanizer
@model Bonsai.Areas.Admin.ViewModels.Changesets.ChangesetDetailsVM
@{
    string GetEntityType()
    {
        switch(Model.EntityType)
        {
            case ChangesetEntityType.Media:
                return "медиа-файла";

            case ChangesetEntityType.Page:
                return "страницы";

            case ChangesetEntityType.Relation:
                return "отношения";

            default:
                return null;
        }
    }

    ViewBag.Title = "Восстановление " + GetEntityType();
    Layout = "~/Areas/Admin/Views/Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-sm-9">
        <h1>Основные данные</h1>

        <dl class="row">
            <dt class="col-sm-2">Автор</dt>
            <dd class="col-sm-10">@Model.Author</dd>

            <dt class="col-sm-2">Дата</dt>
            <dd class="col-sm-10">@Model.Date.ToLocalTime().ToString("f") (@Model.Date.ToLocalTime().Humanize())</dd>
        </dl>
    </div>
</div>

<p>
    Вы уверены, что хотите восстановить изначальное состояние @GetEntityType()?<br />
    При этом будет сброшена текущая правка и все последующие, если они существуют.
</p>

<form action="@Url.Action("Revert", "Changesets", new {area = "Admin"})" method="POST">
    <input type="hidden" name="confirm" value="true" />
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger" type="submit">Восстановить</button>
    <a href="@Url.Action("Index", "Media", new {area = "Admin"})" class="btn btn-secondary">Отмена</a>
</form>