@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Bonsai.Areas.Admin.ViewModels.Common
@using Bonsai.Areas.Admin.ViewModels.Relations
@using Bonsai.Code.Services
@using Bonsai.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RemoveEntryRequestVM
@{
    ViewBag.Title = Texts.Admin_Relations_Remove_Title;
    Layout = "~/Areas/Admin/Views/Layout.cshtml";
    var info = (RemoveEntryInfoVM<RelationTitleVM>) ViewBag.Info;
}

<h1>@Texts.Admin_Relations_Remove_Title</h1>

<p>
    @Html.Raw(string.Format(@Texts.Admin_Relations_Remove_ConfirmationFormat, info.Entry.Type.GetLocaleEnumDescription(), info.Entry.Destination.Title, info.Entry.Source.Title))<br/>
</p>

<form action="@Url.Action("Remove", "Relations", new {area = "Admin"})" method="POST">
    <input type="hidden" asp-for="Id" />
    
        @if (info.CanRemoveCompletely)
        {
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" asp-for="RemoveCompletely" id="RemoveCompletely" />
                    <label class="form-check-label" for="RemoveCompletely">@Texts.Admin_Relations_Remove_Completely</label>
                </div>
            </div>
        }
    
    <div class="form-group">
        <button class="btn btn-danger" type="submit">@Texts.Admin_Global_Remove</button>
        <a href="@Url.Action("Index", "Relations", new {area = "Admin"})" class="btn btn-secondary">@Texts.Admin_Global_Cancel</a>
    </div>
</form>