@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Bonsai
@using Bonsai.Areas.Admin.Logic
@using Bonsai.Areas.Admin.ViewModels.Pages
@using Bonsai.Data.Models
@using Impworks.Utils.Format
@model Bonsai.Areas.Admin.ViewModels.Pages.PageEditorVM
@{
    var data = (PageEditorDataVM)ViewBag.Data;
    ViewBag.Title = data.IsNew ? $"Новая страница" : "Редактирование страницы";
    Layout = "~/Areas/Admin/Views/Layout.cshtml";

    var formAction = Url.Action(data.IsNew ? "Create" : "Update", "Pages", new { area = "Admin" });
    var hasPhoto = data.MainPhotoThumbnailUrl != null;
    var originalPageType = (PageType?) (int?) TempData[NotificationsService.NOTE_PAGETYPE_RESET_FROM_DRAFT];
}

<h1>@ViewBag.Title</h1>

@if (!string.IsNullOrEmpty(data.ErrorFields))
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        Неверно заполнены поля: @data.ErrorFields
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}
@if (originalPageType != null)
{
<div class="alert alert-warning">
    <button type="button" class="close cmd-dismiss-notification">&times;</button>
    Восстановлен черновик новой страницы типа "@(Model.Type.GetEnumDescription().ToLower())". <br />
    Если вы хотите создать новую страницу типа "@(originalPageType.Value.GetEnumDescription().ToLower())", сохраните страницу или <a href="#" class="cmd-discard-draft" data-page-type="@originalPageType">удалите</a> черновик.
</div>
}

<div class="alert alert-warning" notification-id="@NotificationsService.NOTE_USER_GUIDELINES">
    Перед написанием статьи, пожалуйста, прочтите <strong><a href="#" class="cmd-show-popup" data-popup-url="@Url.Action("Guidelines", "Help")">рекомендации</a></strong> по оформлению и стилю.
</div>

<form action="@formAction" method="post" class="page-editor">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Type" />
    <input type="hidden" name="tab" id="tab" value="@data.Tab" />

    <nav>
        <div class="nav nav-tabs" role="tablist">
            <a class="nav-item nav-link @(data.Tab == "main" ? "active" : "")" href="#tab-main" data-toggle="tab" data-tab-track="tab" data-tab-track-id="main" role="tab">Главное</a>
            <a class="nav-item nav-link @(data.Tab == "facts" ? "active" : "")" href="#tab-facts" data-toggle="tab" data-tab-track="tab" data-tab-track-id="facts" role="tab">Факты</a>
            <a class="nav-item nav-link @(data.Tab == "aliases" ? "active" : "")" href="#tab-aliases" data-toggle="tab" data-tab-track="tab" data-tab-track-id="aliases" role="tab">Ссылки</a>
        </div>
    </nav>
    <div class="tab-content">
        <div class="tab-pane show @(data.Tab == "main" ? "active" : "")" id="tab-main" role="tabpanel">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="Title" class="form-label-required">Заголовок</label>
                    <input type="text" class="form-control" asp-for="Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-9">
                    <label asp-for="Description">Текст</label>
                    <textarea asp-for="Description" class="form-control md-editor" data-md-pick-media="true" rows="10"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3">
                    <label>Фото</label>
                    <input type="hidden" asp-for="MainPhotoKey" />
                    <div id="editor-main-photo">
                        <div class="main-photo-wrapper">
                            @if (hasPhoto)
                            {
                                <img src="@Url.Content(data.MainPhotoThumbnailUrl)" class="main-photo" />
                            }
                        </div>
                        <div class="btn-toolbar">
                            <div class="btn-group btn-group-sm mr-2">
                                <button type="button" class="btn btn-outline-secondary cmd-upload">
                                    <i class="fa fa-upload"></i> Загрузить
                                </button>
                                <button type="button" class="btn btn-outline-secondary cmd-pick">
                                    <i class="fa fa-search"></i> Найти
                                </button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-outline-danger cmd-remove" style="display: @(hasPhoto ? "inline-block": "none")" title="Удалить">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane show @(data.Tab == "facts" ? "active" : "")" id="tab-facts" role="tabpanel">
            <div class="form-group">
                <input type="hidden" asp-for="Facts" />
                @if (data.FactGroups.Any())
                {
                    <div id="editor-facts">
                        @foreach (var group in data.FactGroups)
                        {
                            <div class="editor-facts-group">
                                <h4>@group.Title</h4>
                                @foreach (var fact in group.Defs)
                                {
                                    var id = group.Id + "." + fact.Id;
                                    <component is="@fact.Kind.Name" v-bind:data="data" v-bind:def="{title: '@fact.Title', key: '@id'}"></component>
                                }
                            </div>
                        }
                    </div>
                }
                else
                {
                    <p>Для данного типа страницы указание фактов недоступно.</p>
                }
                <div validation-list-for="Facts" validation-list-caption="Противоречивые факты" class="text-danger"></div>
            </div>
        </div>

        <div class="tab-pane show @(data.Tab == "aliases" ? "active" : "")" id="tab-aliases" role="tabpanel">
            <input type="hidden" asp-for="Aliases" />

            <div id="editor-aliases">
                <div class="form-row" v-for="(alias, idx) in aliases">
                    <div class="form-group col-md-8">
                        <div class="input-group">
                            <input v-model="alias.value" class="form-control" :ref="'value'" v-on:change="refresh" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-danger" title="Удалить" v-on:click="removeAlias(idx)" :disabled="!canRemove">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-outline-secondary" title="Добавить новую ссылку" v-on:click="addAlias">
                        <i class="fa fa-plus-circle"></i> Добавить
                    </button>
                </div>
            </div>

            <span asp-validation-for="Aliases" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-5">
            <button class="btn btn-primary" type="submit">Сохранить</button>
            <button class="btn btn-warning cmd-preview" type="button">Просмотр</button>
            <a class="btn btn-secondary" href="@Url.Action("Index", "Pages", new { area = "Admin" })">Назад</a>
        </div>
        <div class="form-group col-md-4 editor-draft-info-wrapper">
            <span id="editor-draft-info">
                @if (data.DraftLastUpdateDate is DateTimeOffset draftDate)
                {
                    var today = draftDate.Date == DateTimeOffset.Now.Date;
                    <text>Загружено из черновика от @data.DraftLastUpdateDate.Value.ToString(today ? "T" : "G").</text>
                }
            </span>
            @if (data.DraftDisplayNotification)
            {
                <br />
                <a href="#" class="cmd-discard-draft">Удалить черновик</a>
            }
        </div>
    </div>
</form>

<form id="discard-draft-form" action="@Url.Action("Remove", "Drafts", new { area = "Admin" })" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="hidden" name="type" value="" />
</form>

<input type="file" id="main-photo-file" class="input-hidden" name="file" />

@await Html.PartialAsync("~/Areas/Admin/Views/Components/MediaPicker.cshtml")
@await Html.PartialAsync("~/Areas/Admin/Views/Components/PagePicker.cshtml")

<script type="text/x-template" id="date-picker-template">
    <input type="text" class="form-control" placeholder="ГГГГ.ММ.ДД" />
</script>
<script type="text/x-template" id="duration-picker-template">
    <div class="form-row">
        <div class="form-group col-sm-4">
            <label>От</label>
            <date-picker v-model="start" v-bind:size="size"></date-picker>
        </div>
        <div class="form-group col-sm-4">
            <label>До</label>
            <date-picker v-model="end" v-bind:size="size"></date-picker>
        </div>
    </div>
</script>

@foreach (var tpl in data.EditorTemplates)
{
    await Html.RenderPartialAsync(tpl);
}