@using Bonsai.Areas.Front.ViewModels.Page
@model PageVM<PageMediaVM>
@{
    Layout = "~/Areas/Front/Views/Page/PageLayout.cshtml";


    ViewBag.PageModel = Model;
    ViewBag.Title = Model.Body.Title + " — Медиа";

    var groups = Model.Body.Media
                      .GroupBy(x => x.Date?.ReadableYear)
                      .OrderByDescending(x => x.Key);
}

@if (Model.Body.Media.Any())
{
    foreach (var group in groups)
    {
        var key = group.Key ?? "Давно";
        <div class="media-thumb-group">
            <h3 id="@key">@key</h3>
            <ul class="list-inline">
                @foreach (var elem in group.OrderBy(x => x.Date))
                {
                    <li class="list-inline-item">
                        <div class="media-thumb-wrapper">
                            <a href="@Url.Action("ViewMedia", "Media", new {key = elem.Key})" class="media-thumb-link" data-media="@elem.Key">
                                <div class="media-thumb-square" style="background-image: url('@Url.Content(elem.ThumbnailUrl)')" title="@Model.Body.Title (@(elem.Date?.ShortReadableDate ?? "Дата неизвестна"))"></div>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
}
else
{
    <div class="text-muted">Медиа-файлов нет.</div>
}
