@using Bonsai.Areas.Front.ViewModels.Page
@using Bonsai.Code.Services
@using Bonsai.Data.Models
@using Bonsai.Localization
@model PageVM<PageTreeVM>
@{
    Layout = "~/Areas/Front/Views/Page/PageLayout.cshtml";

    ViewBag.PageModel = Model;
    ViewBag.Title = string.Format(Texts.Front_Page_Tree_Title, Model.Body.Title);

    string GetTreeUrl(TreeKind? kind = null)
    {
        return Url.Action("Main", "Tree", new
        {
            key = Model.Body.Key,
            kind = kind ?? Model.Body.SupportedKinds.FirstOrDefault()
        });
    }
}

<div class="tree-view">
    <div class="mb-3">
        <div class="float-left btn-group btn-group-toggle">
            @foreach (var kind in Model.Body.SupportedKinds)
            {
                <a href="@GetTreeUrl(kind)" class="btn btn-sm btn-outline-primary cmd-switch-tree @(kind == Model.Body.TreeKind ? "active" : "")" data-kind="@kind">@kind.GetLocaleEnumDescription()</a>
            }
        </div>
        <div class="float-right btn-group">
            <a class="btn btn-sm btn-outline-primary cmd-fullscreen" href="#" title="@Texts.Front_Page_Tree_Fullscreen">
                <span class="fa fa-arrows-alt"></span> @Texts.Front_Page_Tree_Fullscreen
            </a>
            <a class="btn btn-sm btn-outline-primary cmd-new-window" href="@GetTreeUrl()" target="_blank" title="@Texts.Front_Page_Tree_NewWindow">
                <span class="fa fa-window-maximize"></span> @Texts.Front_Page_Tree_NewWindow
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <iframe src="@GetTreeUrl()"></iframe>
</div>