@using System.Drawing
@model Bonsai.Areas.Front.ViewModels.MediaVM

<img src="@Model.MediaPath" class="media-photo" alt="@(Model.Title ?? "Фото")"/>
@foreach (var tag in Model.Tags)
{
    if (tag.Rect is RectangleF r)
    {
        <div class="photo-tag" style="top: @r.Top; left: @r.Left; right: @r.Right; bottom: @r.Bottom" data-tag-id="@tag.TagId"></div>
    }
}