@using System.Drawing
@model Bonsai.Areas.Front.ViewModels.Media.MediaVM
@functions {
    string Size(float s)
    {
        return (s * 100.0f).ToString(System.Globalization.CultureInfo.InvariantCulture) + "%";
    }
}

<img src="@Url.Content(Model.MediaPath)" class="media-photo" alt="@(Model.Title ?? "Фото")" />
@foreach (var tag in Model.Tags)
{
    if (tag.Rect is RectangleF r)
    {
        <div class="photo-tag" style="top: @Size(r.Top); left: @Size(r.Left); right: @Size(r.Right); bottom: @Size(r.Bottom)" data-tag-id="@tag.TagId"></div>
    }
}