@using Bonsai.Areas.Front.ViewModels.Page
@model PageVMBase
@{
    Layout = "~/Areas/Front/Views/Layout.cshtml";
    ViewBag.PageModel = Model;
    var pageVm = (PageTitleVM)ViewBag.PageModel;
    var actions = new[] {
        new {Title = "Описание", Active = pageVm is PageDescriptionVM, Url = Url.Action("Description", new {key = pageVm.Key}), Icon = "fa-user"},
        new {Title = "Медиа", Active = pageVm is PageMediaVM, Url = Url.Action("Media", new {key = pageVm.Key}), Icon = "fa-image"}
    };
}

<div id="page" class="d-flex">
    <div class="sidebar col-3">
        @Html.Partial("InfoBlock/InfoBlock", Model.InfoBlock)
    </div>
    <div class="content col">
        <h1>@pageVm.Title</h1>
        <ul class="nav nav-tabs">
            @foreach(var action in actions)
            {
                <li class="nav-item">
                    <a class="nav-link @(action.Active ? "active" : "")" href="@action.Url"><i class="fa @action.Icon"></i> @action.Title</a>
                </li>
            }
        </ul>
        <div class="typography">
            @RenderBody()
        </div>
    </div>
</div>
