@using Bonsai.Areas.Front.ViewModels.Page
@using Bonsai.Areas.Front.ViewModels.Page.InfoBlock
@model InfoBlockVM
@{
    var pageVm = (PageTitleVM)ViewBag.PageModel;
}

<div class="page-info">
    @if(Model.Photo != null)
    {
        <div class="profile-photo">
            <img src="@Url.Content(Model.Photo.ThumbnailUrl)" alt="@pageVm.Title" />
        </div>
    }

    @Html.Partial("~/Areas/Front/Views/Page/InfoBlock/FactGroupList.cshtml", Model.Facts.Where(x => x.Definition.IsMain))
    @Html.Partial("~/Areas/Front/Views/Page/InfoBlock/RelationCategoryList.cshtml", Model.RelationGroups.Where(x => x.IsMain))

    @Html.Partial("~/Areas/Front/Views/Page/InfoBlock/FactGroupList.cshtml", Model.Facts.Where(x => x.Definition.IsMain == false))
    @Html.Partial("~/Areas/Front/Views/Page/InfoBlock/RelationCategoryList.cshtml", Model.RelationGroups.Where(x => x.IsMain == false))
</div>