@using Bonsai.Areas.Front.ViewModels.Page
@using Bonsai.Areas.Front.ViewModels.Page.InfoBlock
@model InfoBlockVM

@{
    var pageVm = (PageTitleVM)ViewBag.PageModel;
}


<div>
    @if (Model.Photo != null)
    {
        <div class="profile-photo">
            <img src="@Url.Content(Model.Photo.ThumbnailUrl)" alt="@pageVm.Title" />
        </div>
    }

    @Html.Partial("InfoBlock/FactGroupList", Model.Facts.Where(x => x.Definition.IsMain))
    @Html.Partial("InfoBlock/RelationCategoryList", Model.RelationGroups.Where(x => x.IsMain))

    @Html.Partial("InfoBlock/FactGroupList", Model.Facts.Where(x => x.Definition.IsMain == false))
    @Html.Partial("InfoBlock/RelationCategoryList", Model.RelationGroups.Where(x => x.IsMain == false))
</div>