@using Bonsai.Areas.Front.ViewModels.Page
@using Bonsai.Areas.Front.ViewModels.Page.InfoBlock
@model InfoBlockVM

@{
    var pageVm = (PageTitleVM) ViewBag.PageModel;
}

<div class="page-info">
    @if (Model.Photo != null)
    {
        <div class="fact-group">
            <img class="page-photo" src="@Model.Photo.ThumbnailUrl" alt="@pageVm.Title" />
        </div>
    }

    @Html.Partial("InfoBlock/FactGroupList", Model.Facts.Where(x => x.Definition.IsMain))

    @foreach (var group in Model.RelationGroups)
    {
        <div class="relation-group">
            <div class="relation-group-title">
                @group.Title
            </div>
            @foreach (var rel in group.Relations)
            {
                <div class="relation-title">@rel.Title</div>
                <div class="relation-value">
                    <ul class="relations-list">
                        @foreach (var relPage in rel.Pages)
                        {
                            <li>
                                <a href="@Url.Action("Description", "Page", new { key = relPage.Key })">@relPage.Title</a>
                                @if (relPage.Duration != null)
                                {
                                    <span class="relation-range">@relPage.Duration</span>
                                }
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    }

    @Html.Partial("InfoBlock/FactGroupList", Model.Facts.Where(x => x.Definition.IsMain == false))
</div>
