@using Bonsai.Code.DomainModel.Facts.Models
@using Bonsai.Code.Tools
@using Bonsai.Code.Utils
@model LanguageFactModel

<div class="fact">
    <div class="fact-title">@(Model.Values.Length == 1 ? "Язык" : "Языки")</div>
    <div class="fact-value">
        @foreach (var item in Model.Values)
        {
            <div class="fact-item">
                <span class="fact-item-main">@item.Name</span>
                @if (item.Proficiency != null)
                {
                    <span class="fact-item-extra">@item.Proficiency.Value.GetEnumDescription()</span>
                }
                @if (!item.Range.IsEmpty)
                {
                    <span class="fact-item-range" title="@item.Range.ReadableRange">@item.Range.ShortReadableRange</span>
                }
            </div>
        }
    </div>
</div>