@using Bonsai.Code.DomainModel.Facts.Models
@model NameFactModel

@{
    var isSingle = Model.Values.Length == 1;
}

<div class="fact">
    <div class="fact-title">@(isSingle ? "Имя" : "Имена")</div>
    <div class="fact-value">
        @foreach (var item in Model.Values)
        {
            <div class="fact-item">
                <span class="fact-item-main">@item.LastName @item.FirstName @item.MiddleName</span>
                @if (!item.Range.IsEmpty && !isSingle)
                {
                    <span class="fact-item-range" title="@item.Range.ReadableRange">@item.Range.ShortReadableRange</span>
                }
            </div>
        }
    </div>
</div>