@model IEnumerable<Bonsai.Areas.Front.ViewModels.Page.InfoBlock.RelationCategoryVM>

@foreach (var cat in Model)
{
    <h6>@cat.Title</h6>
    foreach (var group in cat.Groups)
    {
        <div class="relation-group">
            @foreach (var rel in group.Relations)
            {
                <div class="relation">
                    <div class="relation-title">@rel.Title</div>
                    <div class="relation-value">
                        <ul class="relations-list">
                            @foreach (var relPage in rel.Pages)
                            {
                                <li>
                                    <a href="@Url.Action("Description", "Page", new {key = relPage.Key, area = "Front"})">@relPage.Title</a>
                                    @if (relPage.Duration != null)
                                    {
                                        <span class="relation-range" title="@relPage.Duration.Value.ReadableRange">@relPage.Duration.Value.ShortReadableRange</span>
                                    }
                                    @if (relPage.RelationEvent != null)
                                    {
                                        <a href="@Url.Action("Description", "Page", new {key = relPage.RelationEvent.Key, area = "Front"})"
                                           class="relation-event-link" title="@relPage.RelationEvent.Title">
                                            <span class="fa fa-calendar-plus-o"></span>
                                        </a>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    }
    <hr />
}