@model Bonsai.Areas.Front.ViewModels.Media.MediaVM

@{
    var showFirstColumn = Model.Tags.Any();
    var showSecondColumn = Model.OriginalPath != null
                           || Model.Event != null
                           || Model.Location != null;
}

<div class="media-block">
    @if (!string.IsNullOrEmpty(Model.Title))
    {
        <h3>@Model.Title</h3>
    }

    <div class="media-wrapper">
        @await Html.PartialAsync("Displayers/" + Model.Type + ".cshtml")
    </div>

    <div class="media-meta">
        @if (showFirstColumn)
        {
            <div class="media-meta-column">
                <div class="meta-block">
                    <strong>Изображены:</strong>
                    <ul class="media-tags">
                        @foreach (var tag in Model.Tags)
                        {
                            <li>
                                <a href="@Url.Action("Description", "Page", new {key = tag.Page.Key})" class="media-tag-link" data-tag-id="@tag.TagId">@tag.Page.Title</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        @if (showSecondColumn)
        {
            <div class="media-meta-column">
                @if (Model.Date != null)
                {
                    <div class="meta-block">
                        <strong>Дата:</strong>
                        <span>@Model.Date.Value.ReadableDate</span>
                    </div>
                }
                @if (Model.Event != null)
                {
                    <div class="meta-block">
                        <strong>Событие:</strong>
                        <a href="@Url.Action("Description", "Page", new { key = Model.Event.Key })">@Model.Event.Title</a>
                    </div>
                }
                @if (Model.Location != null)
                {
                    <div class="meta-block">
                        <strong>Место:</strong>
                        <a href="@Url.Action("Description", "Page", new { key = Model.Location.Key })">@Model.Location.Title</a>
                    </div>
                }
                @if (Model.OriginalPath != null)
                {
                    <div class="meta-block">
                        <strong>Оригинал:</strong>
                        <a href="@Url.Content(Model.OriginalPath)" target="_blank">Скачать</a>
                    </div>
                }
            </div>
        }
    </div>

    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <div class="media-description">
            @Html.Raw(Model.Description)
        </div>
    }
</div>