@using Bonsai.Areas.Front.ViewModels.Auth
@using Bonsai.Areas.Front.ViewModels.Page
@model Bonsai.Areas.Front.ViewModels.Media.MediaVM

@{
    var showFirstColumn = Model.Tags.Any();
    var user = (UserVM)ViewBag.User;
}

@{
    Func<PageTitleVM, object> pageLink = @<span>
        @if (string.IsNullOrEmpty(item.Key))
        {
            <text>@item.Title</text>
        }
        else
        {
            <a href="@Url.Action("Description", "Page", new {key = item.Key})">@item.Title</a>
        }
    </span>;
}

<div class="media-block">
    @if (!string.IsNullOrEmpty(Model.Title))
    {
        <h3>@Model.Title</h3>
    }

    <div class="media-wrapper">
        @await Html.PartialAsync("Displayers/" + Model.Type + ".cshtml")
    </div>

    <div class="media-meta row">
        @if (showFirstColumn)
        {
            <div class="col media-meta-column">
                <div class="meta-block">
                    <strong>
                        <span class="fa fa-fw fa-user-o"></span>
                        Изображены
                    </strong>
                    <ul class="media-tags">
                        @foreach (var tag in Model.Tags)
                        {
                            <li>
                                <a href="@Url.Action("Description", "Page", new {key = tag.Page.Key})" class="media-tag-link" data-tag-id="@tag.TagId">@tag.Page.Title</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        <div class="col media-meta-column">
            <table class="media-meta-table">
                @if (Model.Date != null)
                {
                    <tr>
                        <th>
                            <span class="fa fa-fw fa-calendar-o"></span>
                            Дата
                        </th>
                        <td>
                            @Model.Date.Value.ReadableDate
                        </td>
                    </tr>
                }
                @if (Model.Event != null)
                {
                    <tr>
                        <th>
                            <span class="fa fa-fw fa-star-o"></span>
                            Событие
                        </th>
                        <td>
                            @pageLink(Model.Event)
                        </td>
                    </tr>
                }
                @if (Model.Location != null)
                {
                    <tr>
                        <th>
                            <span class="fa fa-fw fa-map-marker"></span>
                            Место
                        </th>
                        <td>
                            @pageLink(Model.Location)
                        </td>
                    </tr>
                }
                <tr>
                    <th>
                        <span class="fa fa-fw fa-arrow-circle-o-down"></span>
                        Оригинал
                    </th>
                    <td>
                        <a href="@Url.Content(Model.OriginalPath)" download>Скачать</a>
                    </td>
                </tr>
                @if (user.IsAdministrator)
                {
                    <tr>
                        <th>
                            <span class="fa fa-fw fa-cog"></span>
                            Действия
                        </th>
                        <td>
                            <a href="@Url.Action("Update", "Media", new { area = "Admin", id = Model.Id })">Редактировать</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <div class="media-description">
            @Html.Raw(Model.Description)
        </div>
    }
</div>