@model Bonsai.Areas.Front.ViewModels.Media.MediaVM

@{
    var showFirstColumn = Model.Tags.Any();
    var showSecondColumn = Model.OriginalPath != null
                           || Model.Event != null
                           || Model.Location != null;
}

<div class="media-block">
    @if (!string.IsNullOrEmpty(Model.Title))
    {
        <h3>@Model.Title</h3>
    }

    <div class="media-wrapper">
        @await Html.PartialAsync("Displayers/" + Model.Type + ".cshtml")
    </div>

    <div class="media-meta row">
        @if (showFirstColumn)
        {
            <div class="col media-meta-column">
                <div class="meta-block">
                    <strong>Изображены</strong>
                    <ul class="media-tags">
                        @foreach (var tag in Model.Tags)
                        {
                            <li>
                                <a href="@Url.Action("Description", "Page", new {key = tag.Page.Key})" class="media-tag-link" data-tag-id="@tag.TagId">@tag.Page.Title</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        @if (showSecondColumn)
        {
            <div class="col media-meta-column">
                <table class="media-meta-table">

                    @if (Model.Date != null)
                    {
                        <tr>
                            <th>Дата</th>
                            <td>@Model.Date.Value.ReadableDate</td>
                        </tr>
                    }
                    @if (Model.Event != null)
                    {
                        <tr>
                            <th>Событие</th>
                            <td><a href="@Url.Action("Description", "Page", new { key = Model.Event.Key })">@Model.Event.Title</a></td>
                        </tr>
                    }
                    @if (Model.Location != null)
                    {
                        <tr>
                            <th>Место</th>
                            <td><a href="@Url.Action("Description", "Page", new { key = Model.Location.Key })">@Model.Location.Title</a></td>
                        </tr>
                    }
                    @if (Model.OriginalPath != null)
                    {
                        <tr>
                            <th>Оригинал</th>
                            <td><a href="@Url.Content(Model.OriginalPath)" download>Скачать</a></td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>

    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <div class="media-description">
            @Html.Raw(Model.Description)
        </div>
    }
</div>