@using Bonsai.Code.Services
@using Bonsai.Code.Services.Config
@inject AppConfigService ConfigService
@inject StartupService StartupService
@{
    string appTitle = "Bonsai";
    string rootUrl = "/";

    if (StartupService.IsStarted)
    {
        appTitle = ConfigService.GetAppConfig().Title;
        rootUrl = Url.Action("Index", "Home", new {area = "Front"});
    }
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@appTitle &mdash; @ViewBag.Title</title>
    <link href="@Url.Content("~/assets/styles/style.css")" rel="stylesheet" />
    @RenderSection("Head", false)
</head>
<body>
    <div id="main-container" class="d-flex flex-column">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="@rootUrl">
                    <div class="row align-items-center">
                        <div class="col">
                            <img src="/assets/img/logo.svg">
                        </div>
                        <div class="col">
                            @appTitle
                        </div>
                    </div>
                </a>
                @if (ViewBag.DisableSearch != null)
                {
                    <div class="placeholder"></div>
                }
                else
                {
                    <form class="search" method="get" action="@Url.Action("Search", "Search")">
                        <input type="text" name="query" id="search-query" placeholder="Поиск…" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="@ViewBag.SearchQuery"/>
                    </form>
                }
                
                @if (StartupService.IsStarted)
                {
                    @await Component.InvokeAsync("UserHeaderComponent")
                }
            </nav>
        </header>
         @RenderBody()
    </div>

    <script src="@Url.Content("~/assets/scripts/vendor-common.js")"></script>
    <script src="@Url.Content("~/assets/scripts/common.js")"></script>
    <script src="@Url.Content("~/assets/scripts/front.js")"></script>
    @RenderSection("Scripts", false)
</body>
</html>