@inject Bonsai.Code.Services.AppConfigService ConfigService
@{
    var config = ConfigService.GetConfig();
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@config.Title &mdash; @ViewBag.Title</title>
    <link href="@Url.Content("~/assets/vendor.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/front.css")" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">@config.Title</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <script src="@Url.Content("~/assets/vendor.js")"></script>
    <script src="@Url.Content("~/assets/front.js")"></script>
</body>
</html>