@using Bonsai.Code.Utils.Helpers
@model Bonsai.Areas.Front.ViewModels.Auth.UserVM
<div class="account d-flex align-items-center">
    @if (Model != null)
    {
        <div class="account-image">
            <span class="user-popover-toggle">
                <img class="user-image rounded-circle" src="@ViewHelper.GetGravatarUrl(Model.Email)" />
            </span>
        </div>
        <div class="account-text">
            <span class="user-popover-toggle">@Model.Name</span>
        </div>
    }
    else
    {
        <div class="account-text">
            <a href="@Url.Action("Login", "Auth", new { returnUrl = ViewBag.ReturnUrl })">Войти</a>
        </div>
    }
    
    <div id="user-popover-contents">
        @if (!string.IsNullOrEmpty(Model?.PageKey))
        {
            <a class="user-popover-link" href="@Url.Action("Description", "Page", new {key = Model.PageKey, area = "Front"})">
                <i class="fa fa-user-circle-o"></i>
                <span>Страница</span>
            </a>
        }
        @if (Model?.IsAdministrator == true)
        {
            <a class="user-popover-link" href="@Url.Action("Index", "Dashboard", new {area = "Admin"})">
                <i class="fa fa-cogs"></i>
                <span>Управление</span>
            </a>
        }
        <a class="user-popover-link" href="@Url.Action("Logout", "Auth", new {area = "Front"})">
            <i class="fa fa-sign-out"></i>
            <span>Выйти</span>
        </a>
    </div>
</div>