@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Bonsai.Areas.Front.ViewModels.Auth
@using Bonsai.Code.Services.Config
@using Bonsai.Localization
@model LocalLoginVM
@inject BonsaiConfigService Config

@{
    ViewBag.Title = Texts.Front_Login_Title;
    ViewBag.DisableSearch = true;
    Layout = "~/Areas/Front/Views/Layout.cshtml";

    var data = (LoginDataVM)ViewBag.Data;
    var demoCfg = Config.GetStaticConfig().DemoMode;
}

<div class="content text">
    <h1>@Texts.Front_Login_Title</h1>

    @if (data.Status == LoginStatus.Failed)
    {
        <div class="alert alert-danger">
            @Html.Raw(Texts.Front_Login_StatusFailed)
        </div>
    }
    else if (data.Status == LoginStatus.LockedOut)
    {
        <div class="alert alert-danger">
            @Html.Raw(Texts.Front_Login_StatusLockedOut)
        </div>
    }
    else if (data.Status == LoginStatus.Unvalidated)
    {
        <p>@Html.Raw(Texts.Front_Login_StatusUnvalidated)</p>
    }

    @if (data.Status == LoginStatus.Failed || data.Status == null)
    {
        if (!data.AllowGuests)
        {
            <p>@Texts.Front_Login_OnlyForRegistered</p>
        }

        <p>@Texts.Front_Login_PleaseAuthorize</p>

        <form action="@Url.Action("ExternalLogin")" method="post">
            <input type="hidden" name="returnUrl" value="@data.ReturnUrl" />
            <div class="social-buttons">
                @foreach (var prov in data.Providers)
                {
                    <button type="submit" class="btn btn-lg btn-outline-primary btn-social" name="provider" value="@prov.Key" title="@string.Format(Texts.Front_Login_ExternalAuth, prov.Caption)">
                        <i class="@prov.IconClass"></i>
                        <span>@prov.Caption</span>
                    </button>
                }
                @if (data.AllowPasswordAuth && data.IsFirstUser)
                {
                    <a href="@Url.Action("Register")" class="btn btn-lg btn-outline-primary btn-social" title="@Texts.Front_Login_PasswordAuth">
                        <i class="fa fa-key"></i>
                        <span>@Texts.Front_Login_Password</span>
                    </a>
                }
            </div>
        </form>

        @if (data.AllowPasswordAuth && !data.IsFirstUser)
        {
            @if (data.AllowRegistration)
            {
                <p>@Html.Raw(string.Format(Texts.Front_Login_Register, Url.Action("Register")))</p>
            }
            else
            {
                <p>@Texts.Front_Login_EnterPassword</p>
            }

            <div class="row">
                <div class="col-sm-5">
                    <form action="@Url.Action("Login")" method="post">
                        <input type="hidden" name="returnUrl" value="@data.ReturnUrl" />
                        <div class="form-group row">
                            <label class="col-3 col-form-label" for="Login">@Texts.Front_Login_Username</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Login" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label" for="Password">@Texts.Front_Login_Password</label>
                            <div class="col-sm-9">
                                <input type="password" asp-for="Password" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary">@Texts.Front_Login_Login</button>
                        </div>
                    </form>
                </div>
            </div>

            @if (demoCfg.Enabled && demoCfg.CreateDefaultAdmin && !demoCfg.HideCredentials)
            {
                <div class="row">
                    <div class="col-sm-5">
                        <div class="alert alert-info">
                            <p>@Texts.Front_Login_DemoAccount</p>
                            <p>
                                <strong>@Texts.Front_Login_Username:</strong> @demoCfg.DefaultAdminEmail<br />
                                <strong>@Texts.Front_Login_Password:</strong> @demoCfg.DefaultAdminPassword
                            </p>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>
