@using Bonsai.Localization
@{
    ViewBag.Title = Texts.Front_RegisterSuccess_Title;
    ViewBag.DisableSearch = true;
    Layout = "~/Areas/Front/Views/Layout.cshtml";
}

<div class="content text">
    <h1>@Texts.Front_RegisterSuccess_Title</h1>

    <p>@Texts.Front_RegisterSuccess_Success</p>
    <p>@Texts.Front_RegisterSuccess_ReviewPending</p>
    <p><a href="@Url.Action("Index", "Home")">@Texts.Front_RegisterSuccess_GoMain</a></p>
</div>