@using Bonsai.Areas.Front.ViewModels.Page
@using Bonsai.Code.Services.Config
@using Bonsai.Localization
@inject BonsaiConfigService ConfigService
@model PageTreeVM
@{
    Layout = "TreeLayout";

    ViewBag.Title = string.Format(Texts.Front_Page_Tree_Title, Model.Title);

    var cfg = ConfigService.GetDynamicConfig();
}

<div class="tree">
    <div class="tree-wrapper" data-key="@Model.Key" data-kind="@Model.TreeKind">
        <svg class="tree-back" :width="width" :height="height">
            <polyline :points="e.points" v-for="e in edges" />
        </svg>
        <tree-card v-for="p in persons" :key="p.id" :value="p" :active="p.id == root" />
    </div>
    <div class="tree-preloader">
        <h4>
            @Texts.Front_Tree_Loading
            <img src="@Url.Content("~/assets/img/loading.gif")" alt="Loading"/>
        </h4>
    </div>
    <div class="tree-error">
        <h4>@Texts.Front_Tree_LoadFailed</h4>
    </div>
</div>

<script id="tree-card-template" type="text/x-template">
    <div :class="{'tree-card-wrapper': true, male: value.info.IsMale, female: !value.info.IsMale, deceased: @(cfg.HideBlackRibbon ? "false" : "value.info.IsDead"), active: active}"
         :style="{left: value.x, top: value.y, width: value.width, height: value.height}" :data-id="value.id">
        <a :href="value.info.Url" class="tree-card" draggable="false" target="_top">
            <div class="tree-card-photo" :style="{'background-image': 'url(' + value.info.Photo + ')'}"></div>
            <div class="tree-card-body">
                <span class="tree-card-title">
                    {{value.info.Name}}
                    <span v-if="value.info.MaidenName">({{value.info.MaidenName}})</span>
                </span>
                <span class="tree-card-date">
                    <span>{{value.info.Birth}}</span>
                    <span v-if="value.info.Death != null"> &mdash; {{value.info.Death}}</span>
                </span>
            </div>
        </a>
    </div>
</script>

@section Scripts {
    <script src="@Url.Content("~/assets/scripts/vendor-vue.js")"></script>
}
