@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Bonsai
@using Bonsai.Areas.Admin.Components
@using Bonsai.Areas.Admin.Logic
@using Bonsai.Areas.Admin.ViewModels.Users
@using Bonsai.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Bonsai.Areas.Admin.ViewModels.Users.UserCreatorVM
@{
    ViewBag.Title = @Texts.Admin_Users_Editor_CreateTitle;
    Layout = "~/Areas/Admin/Views/Layout.cshtml";

    var data = (UserEditorDataVM) ViewBag.Data;
}

<h1>@ViewBag.Title</h1>

<div class="alert alert-info" notification-id="@NotificationsService.NOTE_PASSWORD_AUTH">
    <p><strong>@Texts.Admin_Users_Editor_PasswordAuth1</strong></p>
    <p>@Texts.Admin_Users_Editor_PasswordAuth2</p>
    <p>@Texts.Admin_Users_Editor_PasswordAuth3</p>
</div>

<div class="row">
    <div class="col-md-8 col-sm-12">
        <form action="@Url.Action("Create")" method="post">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="LastName">@Texts.Front_Register_LastName</label>
                <div class="col-sm-9">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="FirstName">@Texts.Front_Register_FirstName</label>
                <div class="col-sm-9">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="MiddleName">@Texts.Front_Register_MiddleName</label>
                <div class="col-sm-9">
                    <input asp-for="MiddleName" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="Birthday">@Texts.Front_Register_Birthday</label>
                <div class="col-sm-6">
                    <input asp-for="Birthday" class="form-control datepicker" placeholder="@Texts.Datepicker_Placeholder" />
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="Email">@Texts.Front_Register_Email</label>
                <div class="col-sm-9">
                    <input asp-for="Email" class="form-control" />
                    <div class="small text-muted">@Texts.Front_Register_Email_Hint</div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="Password">@Texts.Front_Register_Password</label>
                <div class="col-sm-9">
                    <input type="password" asp-for="Password" class="form-control" />
                    <div class="small text-muted">@Texts.Front_Register_Password_Hint</div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="PasswordCopy">@Texts.Front_Register_Password_Repeat</label>
                <div class="col-sm-9">
                    <input type="password" asp-for="PasswordCopy" class="form-control" />
                    <span asp-validation-for="PasswordCopy" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="Role">@Texts.Admin_Users_Editor_Access</label>
                <div class="col-sm-9">
                    <select asp-for="Role" asp-items="@data.UserRoleItems" class="form-control"></select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">@Texts.Admin_Users_Editor_Page</label>
                <div class="col-sm-9">
                    <div>
                        <select asp-for="PersonalPageId" asp-items="@data.PageItems"></select>
                        <span asp-validation-for="PersonalPageId"></span>
                    </div>
                    <div>@Texts.Admin_Users_Editor_Or</div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="CreatePersonalPage" class="custom-control-input" id="CreatePersonalPage" />
                        <label class="custom-control-label" for="CreatePersonalPage">
                            @Texts.Admin_Users_Editor_CreateNewPage
                        </label>
                    </div>
                </div>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" role="alert">@Html.Raw(Texts.Admin_Global_ValidationError)</div>
            }

            <div class="form-group row mb-5">
                <div class="offset-sm-3 col-sm-6">
                    <button type="submit" class="btn btn-primary">@Texts.Admin_Global_Save</button>
                    <a class="btn btn-secondary" href="@Url.Action("Index")">@Texts.Admin_Global_Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>