@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Bonsai
@using Bonsai.Areas.Admin.Logic
@using Bonsai.Areas.Admin.ViewModels.Users
@model Bonsai.Areas.Admin.ViewModels.Users.UserCreatorVM
@{
    ViewBag.Title = "Создание профиля пользователя";
    Layout = "~/Areas/Admin/Views/Layout.cshtml";

    var data = (UserEditorDataVM) ViewBag.Data;
}

<h1>@ViewBag.Title</h1>

<div class="alert alert-info" notification-id="@NotificationsService.NOTE_PASSWORD_AUTH">
    <p><strong>Вы создаете профиль с авторизацией по паролю.</strong></p>
    <p>
        Данный тип авторизации менее надежен и удобен, однако не требует учетной записи в соцсетях.
        Он подходит, например, для пожилых родственников, или для быстрой проверки функционала.
    </p>
    <p>
        Если пользователь забудет свой пароль, он не сможет восстановить его самостоятельно - это может сделать только администратор.
    </p>
</div>

<div class="row">
    <div class="col-md-8 col-sm-12">
        <form action="@Url.Action("Create")" method="post">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="LastName">Фамилия</label>
                <div class="col-sm-9">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="FirstName">Имя</label>
                <div class="col-sm-9">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="MiddleName">Отчество</label>
                <div class="col-sm-9">
                    <input asp-for="MiddleName" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="Birthday">Дата рождения</label>
                <div class="col-sm-6">
                    <input asp-for="Birthday" class="form-control datepicker" placeholder="ГГГГ.ММ.ДД" />
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="Email">E-mail</label>
                <div class="col-sm-9">
                    <input asp-for="Email" class="form-control" />
                    <div class="small text-muted">Будет использоваться в качестве логина</div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="Password">Пароль</label>
                <div class="col-sm-9">
                    <input type="password" asp-for="Password" class="form-control" />
                    <div class="small text-muted">Минимум 6 символов</div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="PasswordCopy">Повтор пароля</label>
                <div class="col-sm-9">
                    <input type="password" asp-for="PasswordCopy" class="form-control" />
                    <span asp-validation-for="PasswordCopy" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="Role">Доступ</label>
                <div class="col-sm-9">
                    <select asp-for="Role" asp-items="@data.UserRoleItems" class="form-control"></select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Страница</label>
                <div class="col-sm-9">
                    <div>
                        <select asp-for="PersonalPageId" asp-items="@data.PageItems"></select>
                        <span asp-validation-for="PersonalPageId"></span>
                    </div>
                    <div>или</div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="CreatePersonalPage" class="custom-control-input" id="CreatePersonalPage" />
                        <label class="custom-control-label" for="CreatePersonalPage">
                            Создать новую
                        </label>
                    </div>
                </div>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" role="alert">
                    <strong>Ошибка:</strong> пожалуйста, убедитесь, что вы заполнили все поля корректно и попробуйте снова.
                </div>
            }

            <div class="form-group row mb-5">
                <div class="offset-sm-3 col-sm-6">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a class="btn btn-secondary" href="@Url.Action("Index")">Отмена</a>
                </div>
            </div>
        </form>
    </div>
</div>