@using Bonsai.Localization
@model Bonsai.Areas.Admin.ViewModels.Users.RemoveUserVM
@{
    ViewBag.Title = Texts.Admin_Users_Remove_Title;
    Layout = "~/Areas/Admin/Views/Layout.cshtml";
}

<h1>@Texts.Admin_Users_Remove_Title</h1>

@if (Model.IsSelf)
{
    <p>@Texts.Admin_Users_Remove_CannotRemoveSelf</p>
    <a class="btn btn-secondary" href="@Url.Action("Index")">@Texts.Admin_Global_Back</a>
}
else if (!Model.IsFullyDeletable)
{
    <p>@Texts.Admin_Users_Remove_CannotRemoveEditor1</p>
    <p>@Texts.Admin_Users_Remove_CannotRemoveEditor2</p>
    <a class="btn btn-primary" href="@Url.Action("Update", "Users", new { area = "Admin", id = Model.Id })">@Texts.Admin_Global_Edit</a>
    <a class="btn btn-secondary" href="@Url.Action("Index")">@Texts.Admin_Global_Back</a>
}
else
{
    <p>@Html.Raw(string.Format(Texts.Admin_Users_Remove_ConfirmFormat, Model.FullName))</p>
    <p>@Texts.Admin_Users_Remove_CannotRevert</p>
    <form class="@Url.Action("Remove")" method="POST">
        @Html.HiddenFor(x => x.Id)
        <input type="hidden" name="confirm" value="true" />
        <button type="submit" class="btn btn-danger">@Texts.Admin_Global_Remove</button>
        <a class="btn btn-secondary" href="@Url.Action("Index")">@Texts.Admin_Global_Back</a>
    </form>
}