@model Bonsai.Areas.Admin.ViewModels.Users.RemoveUserVM
@{
    ViewBag.Title = "Удаление пользователя";
    Layout = "~/Areas/Admin/Views/Layout.cshtml";
}

<h1>Удаление пользователя</h1>

@if (Model.IsSelf)
{
    <p>Вы не можете удалить собственную учетную запись.</p>
    <a class="btn btn-secondary" href="@Url.Action("Index")">Назад</a>
}
else if (!Model.IsFullyDeletable)
{
    <p>Вы не можете удалить учетную запись пользователя, который вносил правки.</p>
    <p>Вместо этого вы можете заблокировать ее, чтобы пользователь не мог войти.</p>
    <a class="btn btn-primary" href="@Url.Action("Update", "Users", new { area = "Admin", id = Model.Id })">Редактировать</a>
    <a class="btn btn-secondary" href="@Url.Action("Index")">Назад</a>
}
else
{
    <p>Вы уверены, что хотите удалить пользователя <b>@Model.FullName</b>?</p>
    <p>Отменить данную операцию будет невозможно.</p>
    <form class="@Url.Action("Remove")" method="POST">
        @Html.HiddenFor(x => x.Id)
        <input type="hidden" name="confirm" value="true" />
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a class="btn btn-secondary" href="@Url.Action("Index")">Назад</a>
    </form>
}