@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Bonsai.Areas.Admin.ViewModels.Users
@model Bonsai.Areas.Admin.ViewModels.Users.UserEditorVM
@{
    ViewBag.Title = Model.IsValidated ? "Изменение пользователя" : "Валидация пользователя";
    Layout = "~/Areas/Admin/Views/Layout.cshtml";

    var data = (UserEditorDataVM) ViewBag.Data;
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-8 col-sm-12">
        <form action="@Url.Action("Update")" method="post">
            <input type="hidden" asp-for="IsValidated" />
            <input type="hidden" asp-for="Id" />

            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="LastName">Фамилия</label>
                <div class="col-sm-9">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="FirstName">Имя</label>
                <div class="col-sm-9">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="MiddleName">Отчество</label>
                <div class="col-sm-9">
                    <input asp-for="MiddleName" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="Birthday">Дата рождения</label>
                <div class="col-sm-6">
                    <input asp-for="Birthday" class="form-control datepicker" placeholder="ГГГГ.ММ.ДД" />
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="Email">E-mail</label>
                <div class="col-sm-9">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            @if(!data.IsSelf)
            {
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label form-label-required" asp-for="Role">Доступ</label>
                    <div class="col-sm-9">
                        <select asp-for="Role" asp-items="@data.UserRoleItems" class="form-control"></select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label form-label-required" asp-for="Role">Блокировка</label>
                    <div class="col-sm-9">
                        <div class="custom-control custom-radio">
                            <input type="radio" asp-for="IsLocked" value="false" class="custom-control-input" id="IsLockedFalse" />
                            <label class="custom-control-label" for="IsLockedFalse">
                                Активен
                            </label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" asp-for="IsLocked" value="true" class="custom-control-input" id="IsLockedTrue" />
                            <label class="custom-control-label" for="IsLockedTrue">
                                Заблокирован
                            </label>
                        </div>
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Страница</label>
                <div class="col-sm-9">
                    <div>
                        <select asp-for="PersonalPageId" asp-items="@data.PageItems"></select>
                        <span asp-validation-for="PersonalPageId"></span>
                    </div>
                    @if (data.CanCreatePersonalPage)
                    {
                        <div>или</div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="CreatePersonalPage" class="custom-control-input" id="CreatePersonalPage" />
                            <label class="custom-control-label" for="CreatePersonalPage">
                                Создать новую
                            </label>
                        </div>
                    }
                </div>
            </div>

            @if(!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" role="alert">
                    <strong>Ошибка:</strong> пожалуйста, убедитесь, что вы заполнили все поля корректно и попробуйте снова.
                </div>
            }

            <div class="form-group row" style="margin-bottom: 140px">
                <div class="offset-sm-3 col-sm-6">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a class="btn btn-secondary" href="@Url.Action("Index")">Отмена</a>
                </div>
                @if (!data.IsSelf)
                {
                    <div class="float-right">
                        <a class="btn btn-danger" href="@Url.Action("Remove", "Users", new {id = Model.Id})">Удалить</a>
                    </div>
                }
            </div>
        </form>
    </div>
</div>